<div class="suggested-address-box" v-if="shouldShowAddress()">
    <dl>
        <dt>{{ $t('postdirekt-addressfactory.suggestBox.suggestedShippingAddressLabel') }}</dt>
        <dd class="address-parts">
            <div>
                <span :class="isFirstNameDifferent() ? 'different' : ''">
                    {{ analysisResult.firstName }}
                </span>
                <span :class="isLastNameDifferent() ? 'different' : ''">
                    {{ analysisResult.lastName }}
                </span>
            </div>
            <div>
                <span :class="isStreetDifferent() ? 'different' : ''">
                    {{ analysisResult.street }}
                    {{ analysisResult.streetNumber }}
                </span>
            </div>
            <div>
                <span :class="isZipcodeDifferent() ? 'different' : ''">
                    {{ analysisResult.postalCode }}
                </span>
                <span :class="isCityDifferent() ? 'different' : ''">
                    {{ analysisResult.city }}
                </span>
            </div>
        </dd>
    </dl>
    <button v-on:click="updateAddress(deliveryAddress)"
            class="sw-button sw-button--primary">
        {{ $t('postdirekt-addressfactory.suggestBox.buttonAutocorrectLabel') }}
    </button>
    <sw-loader v-if="isLoading"/>
</div>
